body {
    background-size:contain;
    background-repeat: repeat;
    background-image: url("../../lab2/img/mosaic.jpg");
}
h1{
    color: orangered; 
    border: 1px solid red;
}
h2,h3,h4,h5{
    color:black;
    font-size: 200%; 
}
a {
    font-family: 'Brush Script MT', cursive;
    color: yellow;
}
.coca_cola{
    list-style-type: lower-alpha;
    color:black;
    font-size: 200%;
}
.pepsi {
    list-style-type: square;
    color:black;
    font-size: 200%;
}
.armyan {
    list-style-type:armenian;
    color:black;
    font-size: 200%;
}
.web {
    list-style-type:none;
    color:black;
    font-size: 200%;
}
.b-blue{
    background: blue;
    font-size: 200%;
}
.card {
	width: 150px;
	height: 240px;
	border: 1px solid black;
	text-align: center;
	line-height: 240px;
	border-radius: 5px;
	font-size: 1.5rem;
}
.card:after {
	font-size: 80%;
	font-weight: bold;
}

.spades,
.spades:after {
	content: "♤";
	color: black;
}

.heart,
.heart:after {
	content: "♡";
	color: red;
}