/** Пишем код здесь **/
ul li{
	color: red !important; 
}
ol li{
    background-color: green;
}
/********** READ-ONLY BLOCK ******
Не изменять код ниже**/

body {
	color: blue;
}

ul li,
ol li {
	color: green;
}
